cores	15	# how many cores used to run the script 
json_path	/path/to/directory/containing/jsonFiles	#directory containing json files to be parsed 
jsonParsed_path	/path/to/directory/to/store/parsed/jsonFiles	#directory to store parsed json files 
output_path     /path/to/directory/where/tsvFiles/will/be/stored	#directory to store output TSV files
logs_path	/path/to/directory/where/logFiles/will/be/stored	#directory to store log files
